video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

.hero-container {
	/* background: url("https://upload.wikimedia.org/wikipedia/commons/b/b4/Comparison_satellite_navigation_orbits.svg")
    center center/cover no-repeat; */
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
	object-fit: contain;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
p {
	display: flex;
	justify-content: center;
}

.hero-container h1 {
	color: skyblue;
	font-size: 5rem;
	margin-top: 5rem;
}

.hero-container h2 {
	color: aliceblue;
	font-size: 2rem;
	margin-top: 3rem;
}

.hero-container p {
	color: aliceblue;
	font-size: 2rem;
}

.hero-btns {
	margin-top: 2rem;
}

.hero-btns .btn {
	margin: 0.5rem;
}

.hero-arrow {
	color: white;
	font-size: 5rem;
	margin-top: 10rem;
}

.fa-play-circle {
	margin-left: 1rem;
}

/* --- Holders --- */
img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

.pending {
	font-size: 5rem;
	display: flex;
	z-index: 100;
	color: blueviolet;
}

/* --- Holders --- */

@media screen and (max-width: 960px) {
	.hero-container h1 {
		font-size: 3rem;
		margin-top: 3rem;
	}

	.hero-container h2,
	p {
		font-size: 1rem;
		margin-top: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.hero-container h1 {
		color: skyblue;
		font-size: 2rem;
		margin-top: 2rem;
	}

	.btn-mobile {
		display: block;
		text-decoration: none;
	}

	.btn {
		width: 100%;
	}
}
